<a href="https://colab.research.google.com/github/shihabhassannaim/Google-Colab-LInk-All/blob/main/pca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Machine Learning/titanic/train.csv')
train = pd.read_csv('/content/drive/MyDrive/Machine Learning/titanic/test.csv')

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

data['Ticket'] = label_encoder.fit_transform(data['Ticket'])
data['Name'] = label_encoder.fit_transform(data['Name'])
data['Sex'] = label_encoder.fit_transform(data['Sex'])
data['Cabin'] = label_encoder.fit_transform(data['Cabin'])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int64
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 76.7 KB

In [ ]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
data_s = sc.fit_transform(data)

In [ ]:
data_s

array([[-1.73010796, -0.78927234,  0.82737724, ...,  0.91896631,
        -0.50244517,  0.45150219],
       [-1.72622007,  1.2669898 , -1.56610693, ...,  1.28262456,
         0.78684529, -1.38162664],
       [-1.72233219,  1.2669898 ,  0.82737724, ...,  1.64628282,
        -0.48885426,  0.45150219],
       ...,
       [ 1.72233219, -0.78927234,  0.82737724, ...,  1.67617254,
        -0.17626324,  0.45150219],
       [ 1.72622007,  1.2669898 , -1.56610693, ..., -1.64656796,
        -0.04438104, -1.9648949 ],
       [ 1.73010796, -0.78927234,  0.82737724, ...,  0.63501397,
        -0.49237783,  0.45150219]])

In [ ]:
pca = PCA(n_components=4)

In [ ]:
pca_result = pca.fit_transform(data_s)

In [ ]:
pca_df = pd.DataFrame(pca_result)

print(pca_df.head())

          0         1         2         3
0  1.670153  0.324413 -0.496934  0.206809
1 -2.424418  0.486717  0.215198  1.395398
2  0.576333  1.009518  1.731087  1.580921
3 -3.191496  0.022065  0.839759  0.610111
4  1.410474 -0.574619 -0.233986  0.096126

In [ ]:
pca_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       891 non-null    float64
 1   1       891 non-null    float64
 2   2       891 non-null    float64
 3   3       891 non-null    float64
dtypes: float64(4)
memory usage: 28.0 KB